{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey }}</div>
    {% endif %}

    <form method="post" class="container">
        <label for="username">email</label>
        <input type="text" class="form-control" id="username" name="_username" required>

        <label for="password">password</label>
        <input type="password" class="form-control" id="password" name="_password" required>

        <button class="btn btn-primary mt-3" type="submit">Connexion</button>

    </form>

{% endblock %}